/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and main layout */
body {
    font-family: Arial, sans-serif;
    color: #2c3e50;
    background-color: #F2EFE5;
    line-height: 1.6;
    scroll-behavior: smooth;
}

header {
    background-color: #C7C8CC;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #B4B4B8;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

section {
    margin: 20px 0;
    padding: 40px 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #2c3e50;
    margin-bottom: 20px;
}

p, ul {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    background-color: #F2EFE5;
    margin: 5px 0;
    border-radius: 4px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #C7C8CC;
    color: #2c3e50;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #B4B4B8;
}

.home-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.features, .testimonials {
    margin-top: 40px;
}

.feature-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #E3E1D9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feature-box i {
    font-size: 2em;
    margin-right: 20px;
    color: #2c3e50;
}

.testimonials .testimonial {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #E3E1D9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonials .testimonial span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #2c3e50;
}

.about-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.about-box {
    flex: 1 1 30%;
    margin: 20px;
    padding: 20px;
    background-color: #E3E1D9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.about-box i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #2c3e50;
}

.media img{
    width: 50%;
    height: 50%;
}